p{
    font-size: 20px;
    font-weight: 250;
}

h2{
    margin-top: 15px;
    font-size: 40px;
    padding-bottom: 1px;
}

.signup-form{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 170px;
}

.signup-flex-container{
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type=text]{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    box-shadow: none;
    background: transparent;
    width: 130%;
    padding: 10px;
    font-size: 20px;
    font-weight: 450;
    color: black;
}

input[type=email]{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    box-shadow: none;
    background: transparent;
    width: 130%;
    padding: 10px;
    font-size: 20px;
    font-weight: 450;
    color: black;
}

input[type=checkbox]{
    zoom:1.5;
}

.signup-form-left{
    display: flex;
    flex-direction: column;
}

.signup-submit-btn{
    background-color: rgb(101,157,169);
    color: black;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0%;
    width: 280px;
    margin-top: 470px;
}

.signup-submit-btn:hover{
    background-color: rgb(0,0,0,0.1);
    transition: 0.5s;
}

.input-error{
    font-size: small;
    color: red;
}